.container-inputs,
.container-btn-login {
  /* border: 3px solid blue; */
  width: 75%;
}

.fa-style {
  color: black;

  font-size: 1.5em;
}

h1 {
  color: white;
}
.main {
  height: 100%;
}
.btn-login {
  border: 3px solid green;
  border-radius: 3em;
  width: 40%;
  font-size: 1.5em;
  margin: 1em;
}
form {
  background-color: rgba(0, 0, 0, 0.671);
  height: 70%;
  width: 30%;
  border-radius: 10%;
  box-shadow: 1px 5px 10px 10px;
  transition: box-shadow 0.6s ease-in-out;
}
form:hover {
  box-shadow: none;
}
.form-control {
  border-radius: 2em;
}
.logar {
  text-align: center;
}
.button-forgot {
  margin-left: auto;
}

.form-floating {
  display: flex;
}
@media screen and (max-width: 1600px), screen and (max-height: 690px) {
  form {
    height: 90%;
    width: 35%;
  }
  @media screen and (max-width: 1350px), screen and (max-height: 1350px) {
    form {
      height: 50%;
      width: 50%;
    }
  }
  @media screen and (max-width: 1350px), screen and (max-height: 920px) {
    form {
      height: 70%;
      width: 50%;
    }
  }
  @media screen and (max-width: 859px) {
    form {
      height: 85%;
      width: 70%;
    }
  }
  @media screen and (max-width: 420px), screen and (max-height: 650px) {
    .container-rem-forg {
      flex-direction: column;
      align-items: center;
    }
    .button-forgot {
      margin-left: 0.8em;
      margin-top: 1em;
    }
    .btn-login {
      width: 90%;
    }
  }
  @media screen and (max-height: 690px) {
    form {
      height: 100%;
    }
  }
}
