/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to left,
    rgb(160, 39, 39) 45%,
    rgb(55, 92, 216) 70%
  );
  overflow: hidden;
}
* {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
