<nav class="navbar navbar-expand-md navbar-dark">
  <div class="navbar-brand ms-5 logo">LOGO</div>
  <input type="text" class="ms-5" placeholder=" Search for something" />
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav w-100 d-flex justify-content-end align-items-center">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/movies']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          href="#"
          aria-current="page"
          >Movies <span class="visually-hidden">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/series']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          href="#"
          aria-current="page"
          >Series <span class="visually-hidden">(current)</span></a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/teste']"
          routerLinkActive="active"
          href="#"
          >Link</a
        >
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdownId"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Dropdown</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link"
          ><button
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <img [src]="userData?.pictureUrl" alt="" /></button
        ></a>
      </li>
    </ul>
  </div>
</nav>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column border border-danger align-items-center">
      <div>{{ userData?.email }}</div>
      <div>{{ userData?.roles }}</div>

      <a [routerLink]="['/']">exit</a>
    </div>
  </div>
</div>
